<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731285539557-0o0h94mi6f0fn6s0frdoakug4rm72jm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731285539557-0o0h94mi6f0fn6s0frdoakug4rm72jm7</string>
	<key>API_KEY</key>
	<string>AIzaSyAMB-BGU9Uw21y44iom7O2A_4grHCKMYtE</string>
	<key>GCM_SENDER_ID</key>
	<string>731285539557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Prince-Carl-Velasco.ALPHA-BookStore-iOS13</string>
	<key>PROJECT_ID</key>
	<string>alpha-bookstore-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>alpha-bookstore-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731285539557:ios:540865943f71e513b1220c</string>
	<key>DATABASE_URL</key>
	<string>https://alpha-bookstore-ios-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>